:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

h1 {
  text-align: center;
  padding-bottom: 0;
  /* margin-bottom: 0; */
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  /* background-color: hotpink; */
  width: 100%;
}

/* section {
  border: 1px solid black;
} */

.mainContainer {
  width: 100%;
  /* background-color: teal; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.playerContainer {
  display: flex;
  /* border: 1px solid black; */
}

.playerHeading {
  width: 100%;
}

.playerSubheading {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0;
  padding: 0;
  /* background-color: red; */
}

.playerScore {
  display: inline;
  margin: 0 20px;
}

.playerContainer {
  width: 45%;
  display: flex;
  flex-flow: row wrap;
  /* background-color: purple; */
  justify-content: center;
  /* border: 5px solid yellowgreen; */
  margin: 0;
  padding: 0;
}

.cardsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* background-color: #fff; */
  width: 100%;
  margin: 0;
  padding: 0;
  /* height: 325px; */
}

img {
  width: 100px;
  padding: 5px;
}
