:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

h1 {
  text-align: center;
  padding-bottom: 0;
  /* margin-bottom: 0; */
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  /* background-color: hotpink; */
  width: 100%;
}

/* section {
  border: 1px solid black;
} */

.mainContainer {
  width: 100%;
  /* background-color: teal; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.playerHeading {
  width: 100%;
}

.playerSubheading {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0;
  padding: 0;
  /* background-color: red; */
}

.playerScore {
  display: inline;
  margin: 0 20px;
}

.playerContainer {
  width: 40%;
  display: flex;
  flex-flow: row wrap;
  /* background-color: purple; */
  justify-content: center;
  /* border: 5px solid yellowgreen; */
  margin: 0;
  padding: 0;
}

.flexContainer {
  display: flex;
  width: 10%;
  background-color: black;
}

.cardsContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* background-color: #fff; */
  width: 100%;
  margin: 0;
  padding: 0;
  /* height: 325px; */
}

img {
  width: 100px;
  padding: 5px;
}

.footer {
  width: 100%;
  display: none;
  justify-content: center;
}

.statsContainer {
  width: 150px;
  /* background-color: teal; */
  display: flex;
  justify-content: center;
}

.one-hundred-percent-wide {
  width: 100%;
  display: flex;
  justify-content: center;
}
.all-rounded {
  /* -webkit-border-radius: 5px;
  -moz-border-radius: 5px; */
  border-radius: 5px 0 0 5px;
}

/* .spacer {
  display: block;
} */

#progress-bar {
  width: 100px;
  background: green;
  position: relative;
  border-radius: 5px;
}

#progress-bar-percentage {
  background: rgb(255, 0, 0);
  padding: 5px 0px;
  color: white;
  text-align: center;
  height: 20px;
  width: 50%;
}

#progress-bar-percentage span {
  display: inline-block;
  position: absolute;
  width: 100%;
  left: 0;
}
